.card {
    border-radius: 5px;
    padding: 25px 25px 15px;
    min-width: 200px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-align: left;
    font-size: 16px;
}

@media (max-width: 800px) {
    .card {
        padding: 25px 0 15px;
        box-shadow: none;
    }
}

.card__title {
    font-size: 20px;
    line-height: 1;
    margin: 0;
}
.card__title a {
    color: var(--color-bg-primary)
}

.card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}