.app {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  padding: 4vw;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
}

@media (max-width: 800px) {
  .app {
    padding: 4vw 8vw;
  }
}

.app__header {

}

.app__footer {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
}

.app__search {
  
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.app .search-form {
  display: flex;
  gap: 10px;
  margin: 0 auto 30px;
}

.app .pagination {
  display: flex;
  gap: 6px;
}