body {
  background-color: #FEEB73;
  opacity: 0.8;
  background-image:  radial-gradient(#aca46a 0.8500000000000001px, transparent 0.8500000000000001px), radial-gradient(#aca46a 0.8500000000000001px, #FEEB73 0.8500000000000001px);
  background-size: 34px 34px;
  background-position: 0 0,17px 17px;
}

.App {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  padding: 4vw;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
}

.app__header {

}

.search {
  height: 40px;
  padding: 0 12px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto 30px;
  font-size: 18px
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}